

.tagtext{
    font-weight: 200!important;
  
}
.social{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social ul{
    list-style: none;
    margin-right: 250px;
    display:flex;
    flex-direction: column;
}
.social li{
    font-size:36px;
    margin-bottom: 50px;;
    transition:0.2s ease-out;
    margin-right: 100px;
}
.social li:hover{
    font-size:54px;
    text-shadow:5px 10px 5px tomato;
    color:rgb(109, 255, 218);
    cursor:pointer;
}
.resText{
    font-size: 20px;
    
}

@media screen and (max-width: 640px) {
    .social ul{
        list-style: none;
        margin-left: 250px;
        display:flex;
        flex-direction: row;
    }
    .social li{ 
        transition:0.2s ease-out;
        margin-right: 25px;
    }
    .resText{
        font-size:16px!important;
        overflow:scroll;
        text-shadow: 2px 4px black;
    }
  }


  @media screen and (max-width: 990px) {
    .social ul{
        list-style: none;
        margin-left: 250px;
        display:flex;
        flex-direction: row;
    }
    .social li{ 
        transition:0.2s ease-out;
        margin-right: 25px;
    }
  }